In [1]:
import pandas as pd

In [2]:
try:
    sales_df = pd.read_csv('../data/sales data-set.csv')
    features_df = pd.read_csv('../data/Features data set.csv')
    stores_df = pd.read_csv('../data/stores data-set.csv')
except FileNotFoundError:
    print('Error: Could not find one or more data files. Please make sure the data files are in the data folder.')
    exit(1)

In [3]:
# Display initial info on store data
print('Stores data:')
print(stores_df.head())
print(stores_df.info())
print('-----------------------------------')

Stores data:
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None
-----------------------------------

In [4]:
# Display initial info on features data
print('Feature data:')
print(features_df.head())
print(features_df.info())
print('-----------------------------------')

Feature data:
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB
None
-----------------------------------

In [5]:
# Display initial info on sales data
print('Sales data:')
print(sales_df.head())
print(sales_df.info())
print('-----------------------------------')

Sales data:
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None
-----------------------------------

In [6]:
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [7]:
sales_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [8]:
stores_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [9]:
# Convert 'Date' column to datetime objects
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format='mixed')
features_df['Date'] = pd.to_datetime(features_df['Date'], format='mixed')

In [10]:
sales_df.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-05-02      24924.50      False
1      1     1 2010-12-02      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-05-03      21827.90      False

In [11]:
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-12-02,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-05-03,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [12]:
# Basic Summary statistics on sales
print("Summary Statistics for sales:")
print(sales_df['Weekly_Sales'].describe())

Summary Statistics for sales:
count    421570.000000
mean      15981.258123
std       22711.183519
min       -4988.940000
25%        2079.650000
50%        7612.030000
75%       20205.852500
max      693099.360000
Name: Weekly_Sales, dtype: float64

In [13]:
# Check for missing values
print("\nMissing Values in Stores Data:")
print(stores_df.isnull().sum())
print("\nMissing Values in Features Data:")
print(features_df.isnull().sum())
print("\nMissing Values in Sales Data:")
print(sales_df.isnull().sum())

Missing Values in Stores Data:
Store    0
Type     0
Size     0
dtype: int64

Missing Values in Features Data:
Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

Missing Values in Sales Data:
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [14]:
# Check for data types
print("\nData Types for Stores Data:")
print(stores_df.dtypes)
print("\nData Types for Features Data:")
print(features_df.dtypes)
print("\nData Types for Sales Data:")
print(sales_df.dtypes)

Data Types for Stores Data:
Store     int64
Type     object
Size      int64
dtype: object

Data Types for Features Data:
Store                    int64
Date            datetime64[ns]
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
dtype: object

Data Types for Sales Data:
Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
dtype: object

In [15]:
#testing if the data is preprocessed correctly

import pandas as pd
import sys, os
# Add the project root directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.data_preprocessing import load_and_merge_data, handle_missing_values, handle_categorical_data

# Load and preprocess the data
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))
print(f"Data path is: {data_path}") # <-- Added print statement
df = load_and_merge_data(data_path)
if df is not None:
    # Handle missing values (using 0 for now)
    df = handle_missing_values(df, method='fillna_0')
    # Handle categorical data
    df = handle_categorical_data(df)
    # Check the cleaned data
    print("Cleaned Data:")
    print(df.head())
    print("\nMissing values after cleaning:")
    print(df.isnull().sum())
    print("\nData types after cleaning")
    print(df.dtypes)

Data path is: c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\data
Cleaned Data:
   Store       Date  Weekly_Sales  Temperature  Fuel_Price  MarkDown1  \
0      1 2010-01-10    1453329.50        71.89       2.603        0.0
1      1 2010-02-04    1594968.28        62.27       2.719        0.0
2      1 2010-02-07    1492418.14        80.91       2.669        0.0
3      1 2010-02-19    1611968.17        39.93       2.514        0.0
4      1 2010-02-26    1409727.59        46.63       2.561        0.0

   MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  \
0        0.0        0.0        0.0        0.0  211.671989         7.838
1        0.0        0.0        0.0        0.0  210.820450         7.808
2        0.0        0.0        0.0        0.0  211.223533         7.787
3        0.0        0.0        0.0        0.0  211.289143         8.106
4        0.0        0.0        0.0        0.0  211.319643         8.106

   IsHoliday    Size  Type_A  Type_B  Type_C
0      False  151315    True   False   False
1      False  151315    True   False   False
2      False  151315    True   False   False
3      False  151315    True   False   False
4      False  151315    True   False   False

Missing values after cleaning:
Store           0
Date            0
Weekly_Sales    0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
Size            0
Type_A          0
Type_B          0
Type_C          0
dtype: int64

Data types after cleaning
Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
Size                     int64
Type_A                    bool
Type_B                    bool
Type_C                    bool
dtype: object

In [16]:
# testing feature engineering
import pandas as pd
import sys, os
# Add the project root directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.data_preprocessing import load_and_merge_data, handle_missing_values, handle_categorical_data
from src.feature_engineering import create_lagged_features, add_time_features

# Load and preprocess the data
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))
print(f"Data path is: {data_path}")
df = load_and_merge_data(data_path)
if df is not None:
    # Handle missing values (using 0 for now)
    df = handle_missing_values(df, method='fillna_0')
    # Handle categorical data
    df = handle_categorical_data(df)

    # Feature Engineering
    df = add_time_features(df, 'Date')
    df = create_lagged_features(df, 'Weekly_Sales', lags=[1, 2, 3, 4])

    # Check the cleaned data
    print("Cleaned Data with features:")
    print(df.head())
    print("\nData types after feature engineering")
    print(df.dtypes)

Data path is: c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\data
Cleaned Data with features:
   Store       Date  Weekly_Sales  Temperature  Fuel_Price  MarkDown1  \
0      1 2010-01-10    1453329.50        71.89       2.603        0.0
1      1 2010-02-04    1594968.28        62.27       2.719        0.0
2      1 2010-02-07    1492418.14        80.91       2.669        0.0
3      1 2010-02-19    1611968.17        39.93       2.514        0.0
4      1 2010-02-26    1409727.59        46.63       2.561        0.0

   MarkDown2  MarkDown3  MarkDown4  MarkDown5  ...  Type_B  Type_C  month  \
0        0.0        0.0        0.0        0.0  ...   False   False      1
1        0.0        0.0        0.0        0.0  ...   False   False      2
2        0.0        0.0        0.0        0.0  ...   False   False      2
3        0.0        0.0        0.0        0.0  ...   False   False      2
4        0.0        0.0        0.0        0.0  ...   False   False      2

   year  dayofweek  weekofyear  Weekly_Sales_lag_1  Weekly_Sales_lag_2  \
0  2010          6           1                 NaN                 NaN
1  2010          3           5          1453329.50                 NaN
2  2010          6           5          1594968.28          1453329.50
3  2010          4           7          1492418.14          1594968.28
4  2010          4           8          1611968.17          1492418.14

   Weekly_Sales_lag_3  Weekly_Sales_lag_4
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3          1453329.50                 NaN
4          1594968.28           1453329.5

[5 rows x 25 columns]

Data types after feature engineering
Store                          int64
Date                  datetime64[ns]
Weekly_Sales                 float64
Temperature                  float64
Fuel_Price                   float64
MarkDown1                    float64
MarkDown2                    float64
MarkDown3                    float64
MarkDown4                    float64
MarkDown5                    float64
CPI                          float64
Unemployment                 float64
IsHoliday                       bool
Size                           int64
Type_A                          bool
Type_B                          bool
Type_C                          bool
month                          int32
year                           int32
dayofweek                      int32
weekofyear                     int64
Weekly_Sales_lag_1           float64
Weekly_Sales_lag_2           float64
Weekly_Sales_lag_3           float64
Weekly_Sales_lag_4           float64
dtype: object

In [ ]:
#testing out the models

import pandas as pd
import sys, os
# Add the project root directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.data_preprocessing import load_and_merge_data, handle_missing_values, handle_categorical_data, handle_lagged_features_na
from src.feature_engineering import create_lagged_features, add_time_features
from src.models import train_sarima, predict_sarima, train_prophet, predict_prophet, evaluate_model, split_data

# Load and preprocess the data
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))
print(f"Data path is: {data_path}")
df = load_and_merge_data(data_path)
if df is not None:
    # Handle missing values (using 0 for now)
    df = handle_missing_values(df, method='fillna_0')
    # Handle categorical data
    df = handle_categorical_data(df)

    # Feature Engineering
    df = add_time_features(df, 'Date')
    df = create_lagged_features(df, 'Weekly_Sales', lags=[1, 2, 3, 4])
    #Handle NaN values in lagged features
    df = handle_lagged_features_na(df)
    # Split the data
    train_df, test_df = split_data(df, test_size=0.2)

    # --- SARIMA ---
    # Select columns for sarima (can't pass all the columns)
    sarima_train_df = train_df[['Date', 'Weekly_Sales']].set_index('Date')
    sarima_test_df = test_df[['Date', 'Weekly_Sales']].set_index('Date')
    order = (1, 1, 1) # Example order (p, d, q)
    seasonal_order = (1, 1, 1, 52) # Example seasonal order (P, D, Q, s), weekly seasonality for 52 weeks
    sarima_model = train_sarima(sarima_train_df, order, seasonal_order)
    sarima_predictions = predict_sarima(sarima_model, len(sarima_test_df))
    sarima_mae, sarima_rmse = evaluate_model(sarima_test_df['Weekly_Sales'], sarima_predictions)

    print(f"\nSARIMA MAE: {sarima_mae:.2f}")
    print(f"SARIMA RMSE: {sarima_rmse:.2f}")

    # --- Prophet ---
    # For prophet we need to have the columns named 'ds' (date) and 'y' (target variable)
    prophet_train_df = train_df.rename(columns={'Date':'ds', 'Weekly_Sales': 'y'})
    prophet_test_df = test_df.rename(columns={'Date':'ds', 'Weekly_Sales': 'y'})
    # Add regressors for prophet, removing features that are not numerical
    regressors = ['Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4',
                'MarkDown5','CPI', 'Unemployment', 'Size', 'Type_A', 'Type_B', 'Type_C', 'month', 'year', 'dayofweek', 'weekofyear',
                'Weekly_Sales_lag_1', 'Weekly_Sales_lag_2', 'Weekly_Sales_lag_3', 'Weekly_Sales_lag_4']

    prophet_model = train_prophet(prophet_train_df, regressors=regressors)
    prophet_predictions = predict_prophet(prophet_model, prophet_test_df)
    prophet_mae, prophet_rmse = evaluate_model(prophet_test_df['y'], prophet_predictions['yhat'])

    print(f"\nProphet MAE: {prophet_mae:.2f}")
    print(f"Prophet RMSE: {prophet_rmse:.2f}")

c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

Data path is: c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\data

c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\vyshn\Desktop\DataScience-ML\Project\sales-forecasting-system\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

SARIMA MAE: 466427.26
SARIMA RMSE: 550965.64

20:01:05 - cmdstanpy - INFO - Chain [1] start processing
20:01:08 - cmdstanpy - INFO - Chain [1] done processing

Prophet MAE: 120974.68
Prophet RMSE: 154763.03